/* screen - modalinprogress */

.modalinprogress {
  align-items: flex-start;
  background-color: var(--alabaster);
  display: flex;
  width: 1440px;
}

.modalinprogress .overlap-group2 {
  height: 1126px;
  position: relative;
  width: 1440px;
}

.modalinprogress .chart {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 4px;
  box-shadow: 8px 8px 16px #eeeeee80 , -8px -8px 16px #ededed80;
  display: flex;
  flex-direction: column;
  left: 40px;
  min-height: 682px;
  position: absolute;
  top: 404px;
  width: 1360px;
}

.modalinprogress .top-bar {
  align-items: center;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/6297bcc472e3829f6496ad23/releases/629a4d8488d5ff2eec6adb32/img/search-filter-selected--1-rectangle-60645B38-0DB8-44A6-9E1D-5816CC24BFB1.png);
  background-size: 100% 100%;
  display: flex;
  height: 45px;
  min-width: 1360px;
  padding: 0 20px;
}

.modalinprogress .group {
  align-items: center;
  display: flex;
  height: 21px;
  min-width: 118px;
}

.modalinprogress .requested-for {
  letter-spacing: 0;
  line-height: 21px;
  min-height: 21px;
  min-width: 101px;
  white-space: nowrap;
}

.modalinprogress .sort {
  font-weight: 900;
  letter-spacing: 0;
  line-height: 17px;
  margin-left: 6px;
  min-height: 17px;
  min-width: 13px;
  white-space: nowrap;
}

.modalinprogress .group-3 {
  align-items: center;
  display: flex;
  height: 21px;
  margin-left: 61px;
  min-width: 109px;
}

.modalinprogress .employee-id {
  letter-spacing: 0;
  line-height: 21px;
  min-height: 21px;
  min-width: 92px;
  white-space: nowrap;
}

.modalinprogress .group-4 {
  align-items: center;
  display: flex;
  height: 21px;
  margin-left: 41px;
  min-width: 65px;
}

.modalinprogress .status {
  letter-spacing: 0;
  line-height: 21px;
  min-height: 21px;
  min-width: 48px;
  white-space: nowrap;
}

.modalinprogress .group-5-1 {
  align-items: center;
  display: flex;
  height: 21px;
  margin-left: 122px;
  min-width: 91px;
}

.modalinprogress .start-date {
  letter-spacing: 0;
  line-height: 21px;
  min-height: 21px;
  min-width: 74px;
  white-space: nowrap;
}

.modalinprogress .group-6 {
  align-items: center;
  display: flex;
  height: 21px;
  margin-left: 97px;
  min-width: 51px;
}

.modalinprogress .role {
  letter-spacing: 0;
  line-height: 21px;
  min-height: 21px;
  min-width: 34px;
  white-space: nowrap;
}

.modalinprogress .group-7 {
  align-items: center;
  display: flex;
  height: 21px;
  margin-left: 131px;
  min-width: 128px;
}

.modalinprogress .hiring-manager {
  letter-spacing: 0;
  line-height: 21px;
  min-height: 21px;
  min-width: 111px;
  white-space: nowrap;
}

.modalinprogress .group-8 {
  align-items: center;
  display: flex;
  height: 21px;
  margin-left: 49px;
  min-width: 54px;
}

.modalinprogress .type {
  letter-spacing: 0;
  line-height: 21px;
  min-height: 21px;
  min-width: 37px;
  white-space: nowrap;
}

.modalinprogress .group-9 {
  align-items: center;
  display: flex;
  height: 21px;
  margin-left: 83px;
  min-width: 82px;
}

.modalinprogress .location {
  letter-spacing: 0;
  line-height: 21px;
  min-height: 21px;
  min-width: 65px;
  white-space: nowrap;
}

.modalinprogress .overlap-group {
  height: 220px;
  margin-top: 4px;
  position: relative;
  width: 1360px;
}

.modalinprogress .rectangle {
  background-color: var(--geyser);
  border-radius: 6px;
  box-shadow: 2px 2px 4px #d6cfcf80;
  height: 220px;
  left: 1344px;
  position: absolute;
  top: 0;
  width: 12px;
}

.modalinprogress .row {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 75px;
  position: absolute;
  top: 132px;
  width: 1360px;
}

.modalinprogress .flex-row {
  align-items: flex-start;
  display: flex;
  margin-right: 25.0px;
  margin-top: -3px;
  min-width: 1295px;
}

.modalinprogress .name-1 {
  font-weight: 700;
  letter-spacing: 0;
  line-height: 23px;
  margin-top: 4px;
  min-height: 23px;
  white-space: nowrap;
  width: 132px;
}

.modalinprogress .phone-1 {
  letter-spacing: 0;
  line-height: 22px;
  margin-left: 47px;
  margin-top: 3px;
  min-height: 22px;
  white-space: nowrap;
  width: 68px;
}

.modalinprogress .flex-row-1 {
  align-items: flex-start;
  display: flex;
  height: 48px;
  margin-left: 80px;
  min-width: 338px;
}

.modalinprogress .in-progress {
  align-items: center;
  background-color: var(--well-read);
  border-radius: 8px;
  display: flex;
  height: 32px;
  min-width: 145px;
  padding: 0 7px;
}

.modalinprogress .action-required-chev {
  font-weight: 600;
  letter-spacing: 0;
  line-height: 22px;
  min-height: 22px;
  min-width: 130px;
  text-align: center;
  white-space: nowrap;
}

.modalinprogress .dates {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  margin-left: 44px;
  min-height: 45px;
  width: 149px;
}

.modalinprogress .x-jun-2 {
  letter-spacing: 0;
  line-height: 22px;
  min-height: 22px;
  white-space: nowrap;
}

.modalinprogress .x-days {
  letter-spacing: 0;
  line-height: 20px;
  margin-top: 3px;
  min-height: 20px;
  white-space: nowrap;
}

.modalinprogress .gas-field-operator {
  letter-spacing: 0;
  line-height: 22px;
  margin-left: 39px;
  margin-top: 3px;
  min-height: 22px;
  white-space: nowrap;
  width: 132px;
}

.modalinprogress .name {
  letter-spacing: 0;
  line-height: 22px;
  margin-left: 50px;
  margin-top: 3px;
  min-height: 22px;
  white-space: nowrap;
  width: 113px;
}

.modalinprogress .contractor {
  letter-spacing: 0;
  line-height: 22px;
  margin-left: 64px;
  margin-top: 3px;
  min-height: 22px;
  white-space: nowrap;
  width: 81px;
}

.modalinprogress .syracuse-erie-blvd-5 {
  align-self: center;
  letter-spacing: 0;
  line-height: 22px;
  margin-left: 56px;
  margin-top: 2.0px;
  min-height: 44px;
  width: 95px;
}

.modalinprogress .line-4-copy-3 {
  height: 2px;
  margin-top: 28px;
  opacity: 0.55;
  width: 1363px;
}

.modalinprogress .row-1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 76px;
  position: absolute;
  top: 26px;
  width: 1360px;
}

.modalinprogress .flex-row-2 {
  align-items: flex-start;
  display: flex;
  margin-right: 23.0px;
  margin-top: -3px;
  min-width: 1297px;
}

.modalinprogress .name-2 {
  font-weight: 700;
  letter-spacing: 0;
  line-height: 23px;
  margin-top: 4px;
  min-height: 23px;
  min-width: 77px;
  white-space: nowrap;
}

.modalinprogress .phone-2 {
  letter-spacing: 0;
  line-height: 22px;
  margin-left: 102px;
  margin-top: 3px;
  min-height: 22px;
  min-width: 70px;
  white-space: nowrap;
}

.modalinprogress .flex-row-3 {
  align-items: flex-start;
  display: flex;
  height: 48px;
  margin-left: 78px;
  min-width: 338px;
}

.modalinprogress .gas-field-operator-1 {
  letter-spacing: 0;
  line-height: 22px;
  margin-left: 39px;
  margin-top: 3px;
  min-height: 22px;
  min-width: 134px;
  white-space: nowrap;
}

.modalinprogress .name-3 {
  letter-spacing: 0;
  line-height: 22px;
  margin-left: 48px;
  margin-top: 3px;
  min-height: 22px;
  min-width: 115px;
  white-space: nowrap;
}

.modalinprogress .employee-1 {
  letter-spacing: 0;
  line-height: 22px;
  margin-left: 62px;
  margin-top: 3px;
  min-height: 22px;
  min-width: 73px;
  white-space: nowrap;
}

.modalinprogress .syracuse-erie-blvd-5-1 {
  align-self: center;
  letter-spacing: 0;
  line-height: 22px;
  margin-left: 64px;
  margin-top: 2.0px;
  min-height: 44px;
  min-width: 97px;
}

.modalinprogress .line-4-copy-3-1 {
  height: 3px;
  margin-top: 28px;
  opacity: 0.55;
  width: 1363px;
}

.modalinprogress .row-2 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 17px;
  min-height: 75px;
  width: 1360px;
}

.modalinprogress .nikolay-nikandrov {
  font-weight: 700;
  letter-spacing: 0;
  line-height: 23px;
  margin-top: 3px;
  min-height: 23px;
  white-space: nowrap;
  width: 151px;
}

.modalinprogress .phone {
  letter-spacing: 0;
  line-height: 22px;
  margin-left: 28px;
  margin-top: 3px;
  min-height: 22px;
  white-space: nowrap;
  width: 68px;
}

.modalinprogress .flex-row-4 {
  align-items: flex-start;
  display: flex;
  height: 48px;
  margin-left: 80px;
  min-width: 346px;
}

.modalinprogress .in-progress-1 {
  align-items: center;
  background-color: var(--corn);
  border-radius: 8px;
  display: flex;
  height: 32px;
  min-width: 145px;
  padding: 0 24px;
}

.modalinprogress .in-progress-chevron {
  font-weight: 600;
  letter-spacing: 0;
  line-height: 22px;
  min-height: 22px;
  text-align: center;
  white-space: nowrap;
  width: 96px;
}

.modalinprogress .dates-1 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  margin-left: 44px;
  min-height: 45px;
  width: 157px;
}

.modalinprogress .gas-field-operator-2 {
  letter-spacing: 0;
  line-height: 22px;
  margin-left: 31px;
  margin-top: 3px;
  min-height: 22px;
  white-space: nowrap;
  width: 132px;
}

.modalinprogress .northboro-ng-srv-co-1 {
  align-self: center;
  letter-spacing: 0;
  line-height: 22px;
  margin-left: 56px;
  margin-top: 2.0px;
  min-height: 44px;
  width: 95px;
}

.modalinprogress .chart-item {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  min-height: 75px;
  width: 1360px;
}

.modalinprogress .vinay-sharma {
  font-weight: 700;
  letter-spacing: 0;
  line-height: 23px;
  margin-top: 3px;
  min-height: 23px;
  white-space: nowrap;
  width: 151px;
}

.modalinprogress .flex-row-5 {
  align-items: flex-start;
  display: flex;
  height: 48px;
  margin-left: 80px;
  min-width: 354px;
}

.modalinprogress .dates-2 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  margin-left: 44px;
  min-height: 45px;
  width: 165px;
}

.modalinprogress .gas-field-operator-3 {
  letter-spacing: 0;
  line-height: 22px;
  margin-left: 23px;
  margin-top: 3px;
  min-height: 22px;
  white-space: nowrap;
  width: 132px;
}

.modalinprogress .employee {
  letter-spacing: 0;
  line-height: 22px;
  margin-left: 64px;
  margin-top: 3px;
  min-height: 22px;
  white-space: nowrap;
  width: 71px;
}

.modalinprogress .northboro-ng-srv-co {
  align-self: center;
  letter-spacing: 0;
  line-height: 22px;
  margin-left: 66px;
  margin-top: 2.0px;
  min-height: 44px;
  width: 95px;
}

.modalinprogress .pramod-agrawal {
  font-weight: 700;
  letter-spacing: 0;
  line-height: 23px;
  margin-top: 3px;
  min-height: 23px;
  white-space: nowrap;
  width: 151px;
}

.modalinprogress .karthik-selvam {
  font-weight: 700;
  letter-spacing: 0;
  line-height: 23px;
  margin-top: 3px;
  min-height: 23px;
  white-space: nowrap;
  width: 151px;
}

.modalinprogress .in-progress-2 {
  align-items: center;
  background-color: var(--green-leaf);
  border-radius: 8px;
  display: flex;
  height: 32px;
  min-width: 145px;
  padding: 0 20px;
}

.modalinprogress .complete-chevron-rig {
  font-weight: 600;
  letter-spacing: 0;
  line-height: 22px;
  min-height: 22px;
  text-align: center;
  white-space: nowrap;
  width: 103px;
}

.modalinprogress .search {
  align-items: flex-start;
  background-color: var(--black-squeeze);
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 280px;
  position: absolute;
  top: 80px;
  width: 1440px;
}

.modalinprogress .new-joiner-technolog {
  font-weight: 700;
  letter-spacing: 0;
  line-height: 28px;
  margin-left: 40px;
  margin-top: 29px;
  min-height: 28px;
  white-space: nowrap;
}

.modalinprogress .flex-row-6 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  height: 184px;
  margin-top: 19px;
  min-width: 1360px;
}

.modalinprogress .search-filter-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 174px;
  width: 310px;
}

.modalinprogress .search-filter {
  height: 77px;
  width: 310px;
}

.modalinprogress .search-filter-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  min-height: 77px;
  width: 310px;
}

.modalinprogress .new-hire-name {
  letter-spacing: 0;
  line-height: 23px;
  min-height: 23px;
  white-space: nowrap;
}

.modalinprogress .form-field {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 4px;
  display: flex;
  height: 45px;
  justify-content: flex-end;
  margin-top: 9px;
  min-width: 310px;
  padding: 14px 11px;
}

.modalinprogress .chevron-down {
  font-weight: 900;
  letter-spacing: 0;
  line-height: 14px;
  min-height: 14px;
  white-space: nowrap;
}

.modalinprogress .search-filter-container-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  min-height: 174px;
  width: 310px;
}

.modalinprogress .new-hire-name-1 {
  letter-spacing: 0;
  line-height: 23px;
  min-height: 23px;
  white-space: nowrap;
}

.modalinprogress .search-filter-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  min-height: 77px;
  width: 310px;
}

.modalinprogress .new-hire-name-2 {
  letter-spacing: 0;
  line-height: 23px;
  min-height: 23px;
  white-space: nowrap;
}

.modalinprogress .flex-col-2 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  min-height: 184px;
  width: 310px;
}

.modalinprogress .search-filter-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 77px;
  width: 310px;
}

.modalinprogress .new-hire-name-3 {
  letter-spacing: 0;
  line-height: 23px;
  min-height: 23px;
  white-space: nowrap;
}

.modalinprogress .buttons {
  align-items: center;
  display: flex;
  margin-top: 61px;
  min-width: 157px;
}

.modalinprogress .clear {
  letter-spacing: 0;
  line-height: 23px;
  margin-top: 1.0px;
  min-height: 23px;
  min-width: 41px;
  text-decoration: underline;
  white-space: nowrap;
}

.modalinprogress .search-button {
  align-items: flex-end;
  background-color: var(--smalt-22);
  border-radius: 4px;
  box-shadow: 0px 2px 4px #b6aeae80;
  display: flex;
  height: 46px;
  margin-left: 16px;
  min-width: 100px;
  padding: 11px 23px;
}

.modalinprogress .search-1 {
  letter-spacing: 0;
  line-height: 23px;
  min-height: 23px;
  min-width: 54px;
  text-align: center;
  white-space: nowrap;
}

.modalinprogress .path-3 {
  height: 2px;
  margin-left: -0.5px;
  margin-top: 18px;
  width: 1441px;
}

.modalinprogress .overlap-group1 {
  height: 80px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.modalinprogress .top-bar-tours {
  align-items: center;
  background-color: var(--smalt-3);
  display: flex;
  height: 80px;
  justify-content: flex-end;
  left: 0;
  min-width: 1440px;
  padding: 0 40px;
  position: absolute;
  top: 0;
}

.modalinprogress .search-bar {
  align-items: center;
  background-color: var(--black-haze);
  border-radius: 15.5px;
  display: flex;
  height: 35px;
  margin-top: 1.0px;
  min-width: 242px;
  padding: 7px 16px;
}

.modalinprogress .search-2 {
  letter-spacing: 0;
  line-height: 19px;
  min-height: 19px;
  min-width: 54px;
  white-space: nowrap;
}

.modalinprogress .icon-search {
  align-self: flex-end;
  height: 20px;
  margin-left: 140px;
  width: 16px;
}

.modalinprogress .group-2 {
  align-items: flex-start;
  display: flex;
  height: 52px;
  margin-left: 114px;
  min-width: 82px;
}

.modalinprogress .profile {
  height: 55px;
  margin-left: -1px;
  margin-top: -1px;
  width: 55px;
}

.modalinprogress .angle-down {
  align-self: center;
  height: 29px;
  margin-left: 10px;
  margin-top: 3.0px;
  width: 18px;
}

.modalinprogress .icon-notifications {
  height: 30px;
  left: 1262px;
  position: absolute;
  top: 25px;
  width: 24px;
}

.modalinprogress .pik-pngcom_white-grid-png_1713082 {
  height: 30px;
  left: 31px;
  position: absolute;
  top: 25px;
  width: 145px;
}

.modalinprogress .rectangle-1 {
  height: 1126px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.modalinprogress .modal {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 6px;
  box-shadow: 4px 4px 8px #8e8a8a40 , -4px -4px 8px #8e8a8a40;
  display: flex;
  flex-direction: column;
  left: 342px;
  min-height: 766px;
  padding: 30px 28px;
  position: absolute;
  top: 180px;
  width: 756px;
}

.modalinprogress .title {
  cursor: pointer;
  font-weight: 900;
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 19px;
  white-space: nowrap;
}

.modalinprogress .application {
  align-items: center;
  display: flex;
  height: 69px;
  margin-right: 32px;
  margin-top: 6px;
  min-width: 636px;
}

.modalinprogress .application-setup {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 69px;
  width: 296px;
}

.modalinprogress .group-8-1 {
  align-items: center;
  display: flex;
  min-width: 296px;
}

.modalinprogress .office-365-account-s {
  font-weight: 600;
  letter-spacing: 0;
  line-height: 23px;
  margin-top: 1.0px;
  min-height: 23px;
  min-width: 194px;
  white-space: nowrap;
}

.modalinprogress .status-complete {
  height: 30px;
  margin-left: 6px;
  width: 96px;
}

.modalinprogress .last-updated-on-04-2 {
  letter-spacing: 0;
  line-height: 23px;
  margin-top: 16px;
  min-height: 23px;
  white-space: nowrap;
}

.modalinprogress .bar-chart-1 {
  height: 12px;
  margin-left: 90px;
  margin-top: 1.0px;
  width: 250px;
}

.modalinprogress .path-5 {
  height: 3px;
  margin-right: 31.5px;
  margin-top: 38px;
  width: 637px;
}

.modalinprogress .device-delivery {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-right: 32px;
  margin-top: 38px;
  min-height: 108px;
  width: 636px;
}

.modalinprogress .device-delivery-1 {
  align-items: center;
  display: flex;
  min-width: 301px;
}

.modalinprogress .desktop-laptop-deli {
  font-weight: 600;
  letter-spacing: 0;
  line-height: 23px;
  margin-top: 1.0px;
  min-height: 23px;
  min-width: 197px;
  white-space: nowrap;
}

.modalinprogress .status-complete-1 {
  height: 30px;
  margin-left: 6px;
  width: 98px;
}

.modalinprogress .desktop-laptop {
  align-items: center;
  display: flex;
  margin-top: 16px;
  min-width: 636px;
}

.modalinprogress .group-5 {
  align-items: flex-end;
  display: flex;
  height: 62px;
  min-width: 242px;
}

.modalinprogress .flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: -0.5px;
  min-height: 54px;
  width: 8px;
}

.modalinprogress .oval {
  background-color: var(--cerulean);
  border-radius: 8px;
  height: 8px;
  width: 8px;
}

.modalinprogress .path-4 {
  height: 39px;
  margin-left: 2.5px;
  margin-top: 8px;
  width: 2px;
}

.modalinprogress .flex-col-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 8px;
  min-height: 62px;
  width: 228px;
}

.modalinprogress .order-number-req123 {
  cursor: pointer;
  letter-spacing: 0;
  line-height: 23px;
  min-height: 23px;
  white-space: nowrap;
}

.modalinprogress .status-approved {
  height: 23px;
  margin-top: 16px;
  width: 128px;
}

.modalinprogress .bar-chart {
  height: 49px;
  margin-left: 144px;
  margin-top: 1.0px;
  width: 250px;
}

.modalinprogress .device-delivery-2 {
  align-items: center;
  display: flex;
  min-width: 281px;
}

.modalinprogress .mobile-device-delive {
  font-weight: 600;
  letter-spacing: 0;
  line-height: 23px;
  margin-top: 1.0px;
  min-height: 23px;
  min-width: 177px;
  white-space: nowrap;
}

.modalinprogress .status-shipped {
  height: 23px;
  margin-top: 16px;
  width: 118px;
}

.modalinprogress .path-5-1 {
  height: 2px;
  margin-right: 31.5px;
  margin-top: 40px;
  width: 637px;
}

.modalinprogress .remote-access-setup {
  align-items: center;
  display: flex;
  height: 140px;
  margin-right: 32px;
  margin-top: 40px;
  min-width: 636px;
}

.modalinprogress .flex-col-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 140px;
  width: 339px;
}

.modalinprogress .device-delivery-3 {
  align-items: center;
  display: flex;
  min-width: 232px;
}

.modalinprogress .additional-items {
  font-weight: 600;
  letter-spacing: 0;
  line-height: 23px;
  margin-top: 1.0px;
  min-height: 23px;
  min-width: 130px;
  white-space: nowrap;
}

.modalinprogress .desktop-laptop-1 {
  align-items: flex-start;
  display: flex;
  height: 94px;
  margin-top: 16px;
  min-width: 339px;
}

.modalinprogress .flex-col-4 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  margin-bottom: -0.5px;
  min-height: 86px;
  width: 8px;
}

.modalinprogress .path-4-1 {
  height: 71px;
  margin-left: 2.5px;
  margin-top: 8px;
  width: 2px;
}

.modalinprogress .flex-col-5 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 8px;
  min-height: 93px;
  width: 325px;
}

.modalinprogress .applications-requiri {
  letter-spacing: 0;
  line-height: 23px;
  min-height: 23px;
  white-space: nowrap;
}

.modalinprogress .order-number-req123-1 {
  letter-spacing: 0;
  line-height: 23px;
  margin-top: 12px;
  min-height: 23px;
  white-space: nowrap;
}

.modalinprogress .status-completed {
  height: 23px;
  margin-top: 12px;
  width: 139px;
}

.modalinprogress .bar-chart-2 {
  height: 12px;
  margin-left: 47px;
  margin-top: 46.0px;
  width: 250px;
}
