/* screen - a4softwareapplication */

.a4softwareapplication {
  align-items: flex-start;
  background-color: var(--cultured-pearl);
  display: flex;
  flex-direction: column;
  height: 1024px;
  width: 1440px;
}

.a4softwareapplication .top-bar-toggle {
  align-items: flex-start;
  display: flex;
  min-width: 1440px;
}

.a4softwareapplication .overlap-group {
  height: 80px;
  position: relative;
  width: 1440px;
}

.a4softwareapplication .top-bar-tours {
  align-items: center;
  background-color: var(--ultramarine);
  display: flex;
  height: 80px;
  justify-content: flex-end;
  left: 0;
  min-width: 1440px;
  padding: 0 40px;
  position: absolute;
  top: 0;
}

.a4softwareapplication .search-bar {
  align-items: center;
  background-color: var(--black-haze);
  border-radius: 15.5px;
  display: flex;
  height: 35px;
  margin-top: 1.0px;
  min-width: 242px;
  padding: 7px 16px;
}

.a4softwareapplication .search {
  letter-spacing: 0;
  line-height: 19px;
  min-height: 19px;
  min-width: 54px;
  white-space: nowrap;
}

.a4softwareapplication .icon-search {
  align-self: flex-end;
  height: 20px;
  margin-left: 140px;
  width: 16px;
}

.a4softwareapplication .group-2 {
  align-items: flex-start;
  display: flex;
  height: 52px;
  margin-left: 114px;
  min-width: 82px;
}

.a4softwareapplication .profile {
  height: 55px;
  margin-left: -1px;
  margin-top: -1px;
  width: 55px;
}

.a4softwareapplication .angle-down {
  align-self: center;
  height: 29px;
  margin-left: 10px;
  margin-top: 3.0px;
  width: 18px;
}

.a4softwareapplication .icon-notifications {
  height: 30px;
  left: 1262px;
  position: absolute;
  top: 25px;
  width: 24px;
}

.a4softwareapplication .pik-pngcom_white-grid-png_1713082 {
  height: 33px;
  left: 22px;
  position: absolute;
  top: 23px;
  width: 160px;
}

.a4softwareapplication .overlap-group-container {
  align-items: flex-start;
  display: flex;
  height: 944px;
  min-width: 1400px;
}

.a4softwareapplication .overlap-group-container-1 {
  align-items: flex-start;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/629e678aedc2c70ee79e9e75/releases/629e69eaedc2c70ee79e9e76/img/4--software-application-bg-4317513A-5C69-4974-A1C9-33B2814B1B23.png);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  margin-left: -3px;
  margin-top: -5px;
  min-height: 955px;
  padding: 5px 2.5px;
  width: 292px;
}

.a4softwareapplication .overlap-group2 {
  height: 378px;
  margin-left: 0.5px;
  position: relative;
  width: 280px;
}

.a4softwareapplication .new-joiner {
  align-items: center;
  background: linear-gradient(134deg, #06148C 0%, #010521 100%);
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 378px;
  padding: 40px 38.3px;
  position: absolute;
  top: 0;
  width: 280px;
}

.a4softwareapplication .user-1 {
  height: 160px;
  margin-left: 1.0px;
  margin-top: 45px;
  width: 161px;
}

.a4softwareapplication .name {
  letter-spacing: 0;
  line-height: 45px;
  margin-left: 1.53px;
  margin-top: 20px;
  min-height: 45px;
  text-align: center;
  white-space: nowrap;
  width: 150px;
}

.a4softwareapplication .employee-id-123456 {
  align-self: flex-end;
  letter-spacing: 0;
  line-height: 25px;
  margin-top: 3px;
  min-height: 25px;
  text-align: center;
  white-space: nowrap;
  width: 203px;
}

.a4softwareapplication .page-navigation {
  align-items: center;
  display: flex;
  height: 25px;
  left: 20px;
  min-width: 212px;
  position: absolute;
  top: 21px;
}

.a4softwareapplication .chevron-left {
  font-weight: 900;
  letter-spacing: 0;
  line-height: 13px;
  min-height: 13px;
  min-width: 10px;
  white-space: nowrap;
}

.a4softwareapplication .new-joiner-dashboard {
  font-weight: 600;
  letter-spacing: 0;
  line-height: 25px;
  margin-left: 6px;
  min-height: 25px;
  min-width: 198px;
  white-space: nowrap;
}

.a4softwareapplication .overlap-group-1 {
  height: 520px;
  position: relative;
  width: 281px;
}

.a4softwareapplication .remote-access {
  align-items: center;
  background-color: var(--mystic);
  display: flex;
  height: 104px;
  left: 0;
  min-width: 280px;
  padding: 0 40px;
  position: absolute;
  top: 208px;
}

.a4softwareapplication .icon-settings {
  height: 32px;
  width: 32px;
}

.a4softwareapplication .remote-access-1 {
  font-weight: 700;
  letter-spacing: 0;
  line-height: 20px;
  margin-left: 12px;
  min-height: 20px;
  min-width: 134px;
  white-space: nowrap;
}

.a4softwareapplication .device-requests-1 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  height: 104px;
  left: 0;
  min-width: 280px;
  padding: 0 40px;
  position: absolute;
  top: 104px;
}

.a4softwareapplication .device-1 {
  height: 32px;
  width: 32px;
}

.a4softwareapplication .device-requests {
  font-weight: 600;
  letter-spacing: 0;
  line-height: 20px;
  margin-left: 12px;
  margin-top: 2.0px;
  min-height: 20px;
  min-width: 143px;
  white-space: nowrap;
}

.a4softwareapplication .new-joiner-1 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  height: 104px;
  left: 0;
  min-width: 280px;
  padding: 0 40px;
  position: absolute;
  top: 0;
}

.a4softwareapplication .icon-user {
  height: 32px;
  width: 32px;
}

.a4softwareapplication .new-joiner-info {
  font-weight: 600;
  letter-spacing: 0;
  line-height: 20px;
  margin-left: 12px;
  min-height: 20px;
  min-width: 138px;
  white-space: nowrap;
}

.a4softwareapplication .order-review {
  align-items: center;
  background-color: var(--white);
  display: flex;
  height: 104px;
  left: 0;
  min-width: 280px;
  padding: 37px 23px;
  position: absolute;
  top: 415px;
}

.a4softwareapplication .check-circle {
  align-self: flex-end;
  height: 29px;
  width: 28px;
}

.a4softwareapplication .order-reivew {
  font-weight: 600;
  letter-spacing: 0;
  line-height: 20px;
  margin-left: 14px;
  min-height: 20px;
  min-width: 119px;
  white-space: nowrap;
}

.a4softwareapplication .software-application {
  align-items: center;
  background-color: var(--mystic);
  display: flex;
  height: 104px;
  justify-content: flex-end;
  left: 0;
  min-width: 280px;
  padding: 0 18px;
  position: absolute;
  top: 208px;
}

.a4softwareapplication .icon-settings-1 {
  height: 32px;
  width: 32px;
}

.a4softwareapplication .software-application-1 {
  font-weight: 700;
  letter-spacing: 0;
  line-height: 20px;
  margin-left: 12px;
  min-height: 20px;
  min-width: 197px;
  white-space: nowrap;
}

.a4softwareapplication .remote-access-2 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 104px;
  left: 0;
  min-width: 280px;
  padding: 36px 22px;
  position: absolute;
  top: 312px;
}

.a4softwareapplication .login {
  height: 31px;
  width: 30px;
}

.a4softwareapplication .remote-access-3 {
  align-self: center;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 20px;
  margin-left: 13px;
  min-height: 20px;
  min-width: 131px;
  white-space: nowrap;
}

.a4softwareapplication .device-requests-2 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  height: 104px;
  left: 0;
  min-width: 280px;
  padding: 0 21px;
  position: absolute;
  top: 104px;
}

.a4softwareapplication .device-1-1 {
  height: 32px;
  width: 32px;
}

.a4softwareapplication .new-joiner-2 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  height: 104px;
  left: 0;
  min-width: 280px;
  padding: 0 21px;
  position: absolute;
  top: 0;
}

.a4softwareapplication .icon-user-1 {
  height: 32px;
  width: 32px;
}

.a4softwareapplication .path-3 {
  height: 2px;
  left: 0;
  position: absolute;
  top: 310px;
  width: 281px;
}

.a4softwareapplication .path-3-1 {
  height: 2px;
  left: 0;
  position: absolute;
  top: 414px;
  width: 281px;
}

.a4softwareapplication .path-3-2 {
  height: 2px;
  left: 0;
  position: absolute;
  top: 518px;
  width: 281px;
}

.a4softwareapplication .path-2 {
  height: 2px;
  left: 0;
  position: absolute;
  top: 208px;
  width: 281px;
}

.a4softwareapplication .path-2-1 {
  height: 2px;
  left: 0;
  position: absolute;
  top: 102px;
  width: 281px;
}

.a4softwareapplication .overlap-group4 {
  align-self: center;
  border-radius: 4px;
  height: 835px;
  margin-bottom: 29.0px;
  margin-left: 31px;
  position: relative;
  width: 1080px;
}

.a4softwareapplication .overlap-group3 {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 4px;
  box-shadow: 8px 8px 16px #d7d7d780 , -8px -8px 16px #d7d7d780;
  display: flex;
  height: 835px;
  left: 0;
  min-width: 1080px;
  padding: 38.5px 39.5px;
  position: absolute;
  top: 0;
}

.a4softwareapplication .flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5px;
  min-height: 710px;
  width: 722px;
}

.a4softwareapplication .yes-no {
  align-items: center;
  display: flex;
  height: 20px;
  margin-left: 0.5px;
  min-width: 119px;
}

.a4softwareapplication .group-5 {
  align-items: flex-start;
  background-color: var(--smalt);
  border-radius: 4px;
  display: flex;
  height: 16px;
  justify-content: flex-end;
  min-width: 16px;
  padding: 1px 0;
}

.a4softwareapplication .check {
  font-weight: 900;
  letter-spacing: 0;
  line-height: 13px;
  min-height: 13px;
  white-space: nowrap;
}

.a4softwareapplication .base-i-os-apps {
  letter-spacing: 0;
  line-height: 20px;
  margin-left: 8px;
  min-height: 20px;
  min-width: 97px;
  white-space: nowrap;
}

.a4softwareapplication .yes-no-1 {
  align-items: center;
  display: flex;
  height: 20px;
  margin-left: 0.5px;
  margin-top: 20px;
  min-width: 344px;
}

.a4softwareapplication .arcos-app-automated {
  letter-spacing: 0;
  line-height: 20px;
  margin-left: 8px;
  min-height: 20px;
  min-width: 322px;
  white-space: nowrap;
}

.a4softwareapplication .yes-no-2 {
  align-items: center;
  display: flex;
  height: 20px;
  margin-left: 0.5px;
  margin-top: 20px;
  min-width: 519px;
}

.a4softwareapplication .book-catalog-manual {
  letter-spacing: 0;
  line-height: 20px;
  margin-left: 8px;
  min-height: 20px;
  min-width: 497px;
  white-space: nowrap;
}

.a4softwareapplication .yes-no-3 {
  align-items: center;
  display: flex;
  height: 20px;
  margin-left: 0.5px;
  margin-top: 20px;
  min-width: 302px;
}

.a4softwareapplication .docufind-scan-record {
  letter-spacing: 0;
  line-height: 20px;
  margin-left: 8px;
  min-height: 20px;
  min-width: 280px;
  white-space: nowrap;
}

.a4softwareapplication .yes-no-4 {
  align-items: center;
  display: flex;
  height: 20px;
  margin-left: 0.5px;
  margin-top: 20px;
  min-width: 187px;
}

.a4softwareapplication .field-service-lighte {
  letter-spacing: 0;
  line-height: 20px;
  margin-left: 8px;
  min-height: 20px;
  min-width: 165px;
  white-space: nowrap;
}

.a4softwareapplication .yes-no-5 {
  align-items: center;
  display: flex;
  height: 20px;
  margin-left: 0.5px;
  margin-top: 20px;
  min-width: 207px;
}

.a4softwareapplication .jp-morgan-access-m {
  letter-spacing: 0;
  line-height: 20px;
  margin-left: 8px;
  min-height: 20px;
  min-width: 185px;
  white-space: nowrap;
}

.a4softwareapplication .yes-no-6 {
  align-items: center;
  display: flex;
  height: 20px;
  margin-left: 0.5px;
  margin-top: 20px;
  min-width: 181px;
}

.a4softwareapplication .lemur-pro-lemur-re {
  letter-spacing: 0;
  line-height: 20px;
  margin-left: 8px;
  min-height: 20px;
  min-width: 159px;
  white-space: nowrap;
}

.a4softwareapplication .yes-no-7 {
  align-items: center;
  display: flex;
  height: 20px;
  margin-left: 0.5px;
  margin-top: 20px;
  min-width: 69px;
}

.a4softwareapplication .motus {
  letter-spacing: 0;
  line-height: 20px;
  margin-left: 8px;
  min-height: 20px;
  min-width: 47px;
  white-space: nowrap;
}

.a4softwareapplication .yes-no-8 {
  align-items: center;
  display: flex;
  height: 20px;
  margin-left: 0.5px;
  margin-top: 20px;
  min-width: 117px;
}

.a4softwareapplication .verizon-cloud {
  letter-spacing: 0;
  line-height: 20px;
  margin-left: 8px;
  min-height: 20px;
  min-width: 95px;
  white-space: nowrap;
}

.a4softwareapplication .path-6 {
  height: 3px;
  margin-top: 38px;
  width: 721px;
}

.a4softwareapplication .flex-row {
  align-items: flex-start;
  display: flex;
  height: 38px;
  margin-left: 0.5px;
  margin-top: 66px;
  min-width: 720px;
}

.a4softwareapplication .yes-no-9 {
  align-items: center;
  align-self: flex-end;
  display: flex;
  height: 20px;
  min-width: 62px;
}

.a4softwareapplication .mdsi {
  letter-spacing: 0;
  line-height: 20px;
  margin-left: 8px;
  min-height: 20px;
  min-width: 40px;
  white-space: nowrap;
}

.a4softwareapplication .rectangle {
  background-color: var(--white);
  height: 20px;
  margin-left: 547px;
  width: 111px;
}

.a4softwareapplication .path-6-1 {
  height: 3px;
  margin-left: 1.0px;
  margin-top: 38px;
  width: 721px;
}

.a4softwareapplication .yes-no-10 {
  align-items: center;
  display: flex;
  height: 20px;
  margin-left: 1.5px;
  margin-top: 84px;
  min-width: 138px;
}

.a4softwareapplication .portal-for-arc-gis {
  letter-spacing: 0;
  line-height: 20px;
  margin-left: 8px;
  min-height: 20px;
  min-width: 116px;
  white-space: nowrap;
}

.a4softwareapplication .yes-no-11 {
  align-items: center;
  display: flex;
  height: 20px;
  margin-left: 0.5px;
  margin-top: 20px;
  min-width: 95px;
}

.a4softwareapplication .sap-portal {
  letter-spacing: 0;
  line-height: 20px;
  margin-left: 8px;
  min-height: 20px;
  min-width: 73px;
  white-space: nowrap;
}

.a4softwareapplication .yes-no-12 {
  align-items: center;
  display: flex;
  height: 20px;
  margin-left: 1.5px;
  margin-top: 20px;
  min-width: 151px;
}

.a4softwareapplication .gas-work-methods {
  letter-spacing: 0;
  line-height: 20px;
  margin-left: 8px;
  min-height: 20px;
  min-width: 129px;
  white-space: nowrap;
}

.a4softwareapplication .path-7 {
  height: 757px;
  margin-left: 38px;
  width: 2px;
}

.a4softwareapplication .buttons {
  align-items: flex-start;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 38px;
  margin-top: 1.5px;
  min-height: 120px;
  width: 200px;
}

.a4softwareapplication .confirm {
  align-items: center;
  background-color: var(--smalt);
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  height: 50px;
  justify-content: flex-end;
  min-width: 200px;
  padding: 0 80px;
}

.a4softwareapplication .next {
  font-weight: 600;
  letter-spacing: 0;
  line-height: 18px;
  min-height: 18px;
  min-width: 39px;
  text-align: center;
  white-space: nowrap;
}

.a4softwareapplication .edit {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 4px;
  display: flex;
  height: 50px;
  margin-top: 20px;
  min-width: 200px;
  padding: 14px;
}

.a4softwareapplication .save-and-finish-late {
  font-weight: 600;
  letter-spacing: 0;
  line-height: 18px;
  min-height: 18px;
  min-width: 167px;
  text-align: center;
  white-space: nowrap;
}

.a4softwareapplication .i-os-i-pad-os {
  font-weight: 900;
  left: 40px;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  top: 40px;
  white-space: nowrap;
  width: 680px;
}

.a4softwareapplication .windows {
  font-weight: 900;
  left: 40px;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  top: 505px;
  white-space: nowrap;
  width: 680px;
}

.a4softwareapplication .web-links {
  font-weight: 900;
  left: 41px;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  top: 650px;
  white-space: nowrap;
  width: 680px;
}
